body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

.left{
	float: left;	
}

.right{
	float: right;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}

.w{
	width: 1200px;
	margin: 0 auto;
}


ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

/*左侧滑动广告条*/

.aside{
	width: 80px;
	height: 435px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}




nav{
	width: 1420px;
	height: 38px;
	background-color: #535353;
	line-height: 38px;
}

nav  ul{
	margin: 0;
	padding:0 4px;
	width: 1200px;
	/*margin-left:110px ;*/
}

nav  ul li{
	margin:0 18px;
		float: left;
}
nav ul li a{
	font-size: 12px;
	color: white;
}
nav ul li span{
	font-size: 10px;
}
nav .wechat img{
	position: relative;
	top: 4px;
	right: 12px;
}

header{
	height: 115px;
	/*background-color: gainsboro;*/
	width: 1200px;
	line-height: 115px;
}

header .ad-text{
	margin: 0 40px;
}

header .ad-text a{
	color: black;
	font-weight: 200;
	letter-spacing: 4px;
}	

header .ad{
	margin:0 20px;
}

.main .ad img{
	position: relative;
	top: 8px;
}

.banner{
	width: 1200px;
	height: 336px;
	background-color: gray;
	position: relative;
}

.banner a img{
	width: 1200px;
	height: 336px;
	position: absolute;
	left: 0;
	top: 0;
}

.banner .points{
	position: absolute;
	bottom: 20px;
	left: 50%;
}

.banner .points span{
	display: block;
	width: 10px;
	height: 10px;
	background-color: white;
	z-index: 100;
	float: left;
	margin:0 15px;
	border-radius: 50%;
}

.banner .points span.active{
	background-color: darkgray;
}